global:
  scrape_interval: 30s
  evaluation_interval: 30s

alerting:
  alertmanagers:
    - static_configs:
        - targets:

rule_files:

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["localhost:9100"]

  - job_name: "postgres"
    static_configs:
      - targets: ["localhost:9187"]

  - job_name: "redis"
    static_configs:
      - targets: ["localhost:9121"]

  - job_name: "spring-boot-mini"
    metrics_path: '/actuator/prometheus'
    scrape_interval: 15s
    static_configs:
      - targets: ["localhost:8080"]